.breadcrumb{
  background-image: url('../images/Breadcrumbs.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 60px;
}

body {
  height: 100vh;
}

.house-icon {
  color: white;
}
.house-icon:hover {
  color: #e02d5b;
  cursor: pointer;
}
.course-link {
  text-decoration: none;
  color: white;
}
.business-text {
  color: #e02d5b;;
}
.title {
  color: #1a1a47;
  font-size: 2.5rem;
  font-weight: bold;
}
.title p {
  color: #6A6A6A;

}

@media (max-width:768px) {
  .title {
    font-size: 1.5rem;
  }
}

.main {
  margin-top: 100px;
}

.card-wrapper {
  border-radius: 12px;

}
.card-body h2 {
  color: #060336;
  text-align: center;
  font-weight: bold;
  font-size: 2.0rem;
}

.card-body ul {
  list-style: none;
  padding: 0 3px;
  font-size: small;
}

.card-body li {
  margin-bottom: 10px;
}

.checkmark {
  color: #e02d5b;
  font-weight: bold;
  margin-right: 5px;
}

.complete-package-btn {
  text-decoration: none;
  color: #060336;
  display: inline-block;
  background-color: #e02d5b;
  border: none;
  color: white;
  text-align: center;
  padding: 10px 95px;
  border-radius: 6px;
  font-weight: 600;
  transition: all 0.3s ease;
}

.complete-package-btn:hover {
  transform: translateY(-2px);
  background-color: white;
  color: #060336;
  border: 1px solid #060336;


}

.enrol-btn {
  text-decoration: none;
  color: #060336;
  display: inline-block;
  border: 1px solid #060336;
  text-align: center;
  padding: 10px 95px;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.enrol-btn:hover {
  background-color: #e02d5b;
  transform: translateY(-2px);
  color: white;
  font-weight: 600;
  border: none;
}

.enrol-btn:active {
  transform: translateY(0);
}
/* .complete_package {
  padding-top: 90px;
} 
.basic-package {
  padding-top: 165px;
}

.job-package {
  padding-top: 165px;
}


.card {
  transition: all 0.3s ease-in-out;
 
  
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);

}
 .basic-package-margin{
  margin-bottom: 150px;

} 

.job-package-margin{
  margin-bottom: 150px;

}
.complete-package-margin {
  margin-top: -80px;
   margin-bottom: 80px; 
}

@media (max-width:1203px) {
  .enrol-btn {
    padding: 10px 80px;
  }
  .complete-package-btn{
     padding: 10px 80px;

  }

} 

@media (max-width:990px) {

  .basic-package-margin{
   margin-bottom: 98px;

  }

  .basic-package {
  padding-top: 290px;
}

  .job-package-margin{
   margin-bottom: 98px;
   margin-top: -55px

  }

  .job-package {
  padding-top: 290px;
}

  .complete-package-margin {
  margin-top: 0px;
  margin-bottom: 100px;
  }

  .main {
    margin-top: 60px;
  }


}


@media (max-width:768px) {
  .main {
    margin-top: 30px;
  }

  .complete-package-margin {
  margin-top: -50px;

  }

  .basic-package {
  padding-top: 50px;
}

.job-package {
  padding-top: 50px;
}

.complete_package {
  padding-top: 45px;
}


.form-margin {
  margin-bottom: 60px;
}

}


.form-margin {
  margin-bottom: 100px;
}



.consultancy-wrapper-margin {
  margin-top: -70px;
}

*/